In [1]:
import pandas as pd
import os

In [2]:
institutions_csv = pd.read_csv(os.path.join("rawdata", "institutions.csv"), index_col="UnitID")
institutions_csv.head()

,institution_name,street,city,state,zipcode,website,longitude,latitude
UnitID,,,,,,,,
180203,Aaniiih Nakoda College,269 Blackfeet Avenue Agency,Harlem,MT,59526,www.ancollege.edu,-108.757816,48.484196
222178,Abilene Christian University,1600 Campus Ct,Abilene,TX,79601,www.acu.edu,-99.709540,32.469150
138558,Abraham Baldwin Agricultural College,2802 Moore Hwy,Tifton,GA,31793-2601,www.abac.edu,-83.528281,31.481889
488031,Abraham Lincoln University,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,90010,www.alu.edu/,-118.301181,34.060990
172866,Academy College,1600 W. 82nd Street Suite 100,Bloomington,MN,55431-1411,www.academycollege.edu,-93.299809,44.855722

In [3]:
financial_aid= pd.read_csv(os.path.join("rawdata", "financial-aid.csv"), index_col="UnitID")
financial_aid.head()

,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),total_seeking_aid,Number awarded federal state local or institutional grant aid (SFA1516),Percent of awarded federal state local or institutional grant aid (SFA1516),Total amount of federal state local or institutional grant aid (SFA1516),Average amount of federal state local or institutional grant aid awarded (SFA1516),Number of awarded Pell grants (SFA1516),Percent of awarded Pell grants (SFA1516),Total amount of Pell grant aid awarded (SFA1516),Average amount of Pell grant aid (SFA1516),number_awarded_loans,Percent of undergraduates awarded federal student loans (SFA1516),Amount_loans_awarded,Average amount of federal student loans awarded (SFA1516)
UnitID,,,,,,,,,,,,,,,,,,
180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,32.0,25.0,78.0,144058.0,5762.0,23.0,72.0,115773.0,5034.0,0.0,0.0,0.0,NaN
222178,Abilene Christian University,,,Abilene,TX,1069.0,1069.0,100.0,18761445.0,17550.0,287.0,27.0,1151454.0,4012.0,593.0,55.0,3414378.0,5758.0
138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,974.0,779.0,80.0,3731762.0,4790.0,485.0,50.0,2197518.0,4531.0,479.0,49.0,2356007.0,4919.0
488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,3.0,2.0,67.0,19354.0,9677.0,2.0,67.0,10330.0,5165.0,3.0,100.0,24500.0,8167.0

In [4]:
financial_aid= financial_aid.fillna(0)
financial_aid.head()

,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),total_seeking_aid,Number awarded federal state local or institutional grant aid (SFA1516),Percent of awarded federal state local or institutional grant aid (SFA1516),Total amount of federal state local or institutional grant aid (SFA1516),Average amount of federal state local or institutional grant aid awarded (SFA1516),Number of awarded Pell grants (SFA1516),Percent of awarded Pell grants (SFA1516),Total amount of Pell grant aid awarded (SFA1516),Average amount of Pell grant aid (SFA1516),number_awarded_loans,Percent of undergraduates awarded federal student loans (SFA1516),Amount_loans_awarded,Average amount of federal student loans awarded (SFA1516)
UnitID,,,,,,,,,,,,,,,,,,
180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,32.0,25.0,78.0,144058.0,5762.0,23.0,72.0,115773.0,5034.0,0.0,0.0,0.0,0.0
222178,Abilene Christian University,,,Abilene,TX,1069.0,1069.0,100.0,18761445.0,17550.0,287.0,27.0,1151454.0,4012.0,593.0,55.0,3414378.0,5758.0
138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,974.0,779.0,80.0,3731762.0,4790.0,485.0,50.0,2197518.0,4531.0,479.0,49.0,2356007.0,4919.0
488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,3.0,2.0,67.0,19354.0,9677.0,2.0,67.0,10330.0,5165.0,3.0,100.0,24500.0,8167.0

In [5]:
joined_data= institutions_csv.join(financial_aid)
joined_data.head()

,institution_name,street,city,state,zipcode,website,longitude,latitude,Institution Name,Institution name alias (HD2016),...,Total amount of federal state local or institutional grant aid (SFA1516),Average amount of federal state local or institutional grant aid awarded (SFA1516),Number of awarded Pell grants (SFA1516),Percent of awarded Pell grants (SFA1516),Total amount of Pell grant aid awarded (SFA1516),Average amount of Pell grant aid (SFA1516),number_awarded_loans,Percent of undergraduates awarded federal student loans (SFA1516),Amount_loans_awarded,Average amount of federal student loans awarded (SFA1516)
UnitID,,,,,,,,,,,,,,,,,,,,,
180203,Aaniiih Nakoda College,269 Blackfeet Avenue Agency,Harlem,MT,59526,www.ancollege.edu,-108.757816,48.484196,Aaniiih Nakoda College,,...,144058.0,5762.0,23.0,72.0,115773.0,5034.0,0.0,0.0,0.0,0.0
222178,Abilene Christian University,1600 Campus Ct,Abilene,TX,79601,www.acu.edu,-99.709540,32.469150,Abilene Christian University,,...,18761445.0,17550.0,287.0,27.0,1151454.0,4012.0,593.0,55.0,3414378.0,5758.0
138558,Abraham Baldwin Agricultural College,2802 Moore Hwy,Tifton,GA,31793-2601,www.abac.edu,-83.528281,31.481889,Abraham Baldwin Agricultural College,ABAC,...,3731762.0,4790.0,485.0,50.0,2197518.0,4531.0,479.0,49.0,2356007.0,4919.0
488031,Abraham Lincoln University,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,90010,www.alu.edu/,-118.301181,34.060990,Abraham Lincoln University,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172866,Academy College,1600 W. 82nd Street Suite 100,Bloomington,MN,55431-1411,www.academycollege.edu,-93.299809,44.855722,Academy College,,...,19354.0,9677.0,2.0,67.0,10330.0,5165.0,3.0,100.0,24500.0,8167.0

In [6]:
joined_data= joined_data.drop(columns=["Institution Name", "Institution name alias (HD2016)", 
                                                 "Street address or post office box (HD2016)", "City location of institution (HD2016)",
                                                "State abbreviation (HD2016)"])
joined_data.head()

,institution_name,street,city,state,zipcode,website,longitude,latitude,total_seeking_aid,Number awarded federal state local or institutional grant aid (SFA1516),...,Total amount of federal state local or institutional grant aid (SFA1516),Average amount of federal state local or institutional grant aid awarded (SFA1516),Number of awarded Pell grants (SFA1516),Percent of awarded Pell grants (SFA1516),Total amount of Pell grant aid awarded (SFA1516),Average amount of Pell grant aid (SFA1516),number_awarded_loans,Percent of undergraduates awarded federal student loans (SFA1516),Amount_loans_awarded,Average amount of federal student loans awarded (SFA1516)
UnitID,,,,,,,,,,,,,,,,,,,,,
180203,Aaniiih Nakoda College,269 Blackfeet Avenue Agency,Harlem,MT,59526,www.ancollege.edu,-108.757816,48.484196,32.0,25.0,...,144058.0,5762.0,23.0,72.0,115773.0,5034.0,0.0,0.0,0.0,0.0
222178,Abilene Christian University,1600 Campus Ct,Abilene,TX,79601,www.acu.edu,-99.709540,32.469150,1069.0,1069.0,...,18761445.0,17550.0,287.0,27.0,1151454.0,4012.0,593.0,55.0,3414378.0,5758.0
138558,Abraham Baldwin Agricultural College,2802 Moore Hwy,Tifton,GA,31793-2601,www.abac.edu,-83.528281,31.481889,974.0,779.0,...,3731762.0,4790.0,485.0,50.0,2197518.0,4531.0,479.0,49.0,2356007.0,4919.0
488031,Abraham Lincoln University,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,90010,www.alu.edu/,-118.301181,34.060990,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172866,Academy College,1600 W. 82nd Street Suite 100,Bloomington,MN,55431-1411,www.academycollege.edu,-93.299809,44.855722,3.0,2.0,...,19354.0,9677.0,2.0,67.0,10330.0,5165.0,3.0,100.0,24500.0,8167.0

In [7]:
joined_data.to_csv("rawdata/institution_loans.csv")

In [8]:
# loan_data= joined_data[["state", "website","Total seeking undergraduates - financial aid cohort (SFA1516)","Number of undergraduate awarded federal student loans (SFA1516)",
#                         "Total amount of federal student loans awarded (SFA1516)"]]
# loan_data.head()

In [9]:
groupby_state= joined_data.groupby(["state"]).sum()
groupby_state.head()

,longitude,latitude,total_seeking_aid,Number awarded federal state local or institutional grant aid (SFA1516),Percent of awarded federal state local or institutional grant aid (SFA1516),Total amount of federal state local or institutional grant aid (SFA1516),Average amount of federal state local or institutional grant aid awarded (SFA1516),Number of awarded Pell grants (SFA1516),Percent of awarded Pell grants (SFA1516),Total amount of Pell grant aid awarded (SFA1516),Average amount of Pell grant aid (SFA1516),number_awarded_loans,Percent of undergraduates awarded federal student loans (SFA1516),Amount_loans_awarded,Average amount of federal student loans awarded (SFA1516)
state,,,,,,,,,,,,,,,
AK,-1188.876250,500.218961,2660.0,1958.0,607.0,1.244254e+07,59608.0,949.0,391.0,4239274.0,36008.0,913.0,335.0,4708727.0,35262.0
AL,-5814.767208,2200.695603,44731.0,35174.0,5629.0,3.034215e+08,481651.0,19684.0,3849.0,90882563.0,293849.0,18369.0,2952.0,111179169.0,293294.0
AR,-4529.863522,1718.292860,25042.0,21376.0,4322.0,1.726923e+08,377424.0,12283.0,2969.0,55550372.0,212986.0,11096.0,1941.0,61725825.0,218955.0
AZ,-7157.929114,2144.986486,59396.0,43957.0,4631.0,3.356012e+08,391578.0,27451.0,3628.0,127528277.0,279284.0,26869.0,3073.0,183729219.0,347174.0
CA,-44472.254645,13157.512978,281331.0,194267.0,25549.0,1.929352e+09,3095973.0,128315.0,17874.0,584775917.0,1550034.0,76512.0,14296.0,444826446.0,1972117.0

In [10]:
loans_by_state= groupby_state[["total_seeking_aid","number_awarded_loans", "Amount_loans_awarded"]]
loans_by_state.head()

       total_seeking_aid  number_awarded_loans  Amount_loans_awarded
state
AK                2660.0                 913.0             4708727.0
AL               44731.0               18369.0           111179169.0
AR               25042.0               11096.0            61725825.0
AZ               59396.0               26869.0           183729219.0
CA              281331.0               76512.0           444826446.0

In [11]:
statelatlong= pd.read_csv(os.path.join("rawdata", "statelatlong.csv"), index_col="State")
statelatlong.head()

        Latitude   Longitude        City
State
AL     32.601011  -86.680736     Alabama
AK     61.302501 -158.775020      Alaska
AZ     34.168219 -111.930907     Arizona
AR     34.751928  -92.131378    Arkansas
CA     37.271875 -119.270415  California

In [12]:
joined_data2= statelatlong.join(loans_by_state)
joined_data2

,Latitude,Longitude,City,total_seeking_aid,number_awarded_loans,Amount_loans_awarded
State,,,,,,
AL,32.601011,-86.680736,Alabama,44731.0,18369.0,111179169.0
AK,61.302501,-158.775020,Alaska,2660.0,913.0,4708727.0
AZ,34.168219,-111.930907,Arizona,59396.0,26869.0,183729219.0
AR,34.751928,-92.131378,Arkansas,25042.0,11096.0,61725825.0
CA,37.271875,-119.270415,California,281331.0,76512.0,444826446.0
CO,38.997934,-105.550567,Colorado,38379.0,18355.0,107874162.0
CT,41.518784,-72.757507,Connecticut,26669.0,12156.0,68333956.0
DE,39.145251,-75.418921,Delaware,8139.0,3922.0,21863311.0
DC,38.899349,-77.014567,District of Columbia,9588.0,4653.0,27051814.0
FL,27.975728,-83.833017,Florida,125104.0,51090.0,312587079.0
GA,32.678125,-83.222976,Georgia,69407.0,33685.0,187885417.0
HI,20.460000,-157.505000,Hawaii,6980.0,1846.0,9590167.0
ID,45.494576,-114.142430,Idaho,10764.0,4694.0,24176353.0
IL,39.739318,-89.504139,Illinois,82402.0,35627.0,198502446.0
IN,39.766219,-86.441277,Indiana,56550.0,27893.0,161449741.0
IA,41.938317,-93.389798,Iowa,32940.0,18733.0,103569724.0
KS,38.498779,-98.320078,Kansas,27937.0,13328.0,75070353.0
KY,37.822294,-85.768240,Kentucky,33343.0,16357.0,89348707.0
LA,30.973377,-91.429910,Louisiana,36958.0,17714.0,98464887.0
ME,45.218513,-69.014866,Maine,10073.0,6082.0,33620822.0
MD,38.806352,-77.268416,Maryland,35316.0,14428.0,84397026.0
MA,42.062940,-71.718067,Massachusetts,65741.0,33575.0,182636002.0
MI,44.943560,-86.415805,Michigan,69505.0,34310.0,185474063.0
MN,46.441859,-93.365515,Minnesota,38242.0,21485.0,120323201.0
MS,32.585106,-89.877220,Mississippi,29168.0,11129.0,57968272.0
MO,38.304662,-92.437099,Missouri,48595.0,22764.0,124622557.0
MT,46.679800,-110.044783,Montana,7729.0,3742.0,21167031.0
NE,41.500819,-99.680902,Nebraska,16304.0,8402.0,42911638.0
NV,38.502032,-117.023060,Nevada,14996.0,6360.0,38027569.0
NH,44.001231,-71.579923,New Hampshire,13219.0,8495.0,48259449.0
NJ,40.143006,-74.731116,New Jersey,57445.0,22223.0,124507984.0
NM,34.166232,-106.026069,New Mexico,15670.0,4901.0,27311746.0
NY,40.705626,-73.979680,New York,177623.0,74866.0,412606069.0
NC,35.214563,-79.891267,North Carolina,72014.0,32160.0,190003296.0
ND,47.467882,-100.302266,North Dakota,8318.0,4692.0,26059268.0
OH,40.190362,-82.669252,Ohio,88479.0,51744.0,293740028.0
OK,35.309765,-98.716558,Oklahoma,32541.0,14078.0,81850783.0
OR,44.141905,-120.538099,Oregon,24518.0,11686.0,64723508.0
PA,40.994593,-77.604698,Pennsylvania,115234.0,72984.0,423229663.0
RI,41.582728,-71.506451,Rhode Island,13601.0,8157.0,45989585.0
SC,33.625050,-80.947038,South Carolina,39386.0,19857.0,113335892.0
SD,44.212699,-100.247164,South Dakota,7780.0,5236.0,29577196.0
TN,35.830521,-85.978599,Tennessee,54277.0,21317.0,118408740.0
TX,31.169336,-100.076842,Texas,183043.0,75080.0,440347187.0
UT,39.499761,-111.547028,Utah,25932.0,7996.0,41991022.0
VT,43.871755,-72.447783,Vermont,6596.0,3955.0,22310313.0
VA,38.003386,-79.458786,Virginia,67195.0,29369.0,178202824.0
WA,38.899349,-77.014567,Washington,43628.0,16496.0,97441879.0
WV,38.920171,-80.181691,West Virginia,16646.0,9155.0,55562776.0
WI,44.786297,-89.826705,Wisconsin,43268.0,23831.0,128857270.0
WY,43.000325,-107.554567,Wyoming,4517.0,1514.0,7916626.0

In [13]:
joined_data2.dtypes

Latitude                float64
Longitude               float64
City                     object
total_seeking_aid       float64
number_awarded_loans    float64
Amount_loans_awarded    float64
dtype: object

In [14]:
joined_data2.to_csv("rawdata/loans_by_state.csv")