In [1]:
import pandas as pd

In [4]:
loan_status_df = pd.read_excel('Data/PortfoliobyLoanType.xls')
loan_status_df

,Portfolio by Loan Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Includes outstanding principal and interest ba...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Source: National Student Loan Data System...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Stafford Subsidized,NaN,Stafford Unsubsidized,NaN,Stafford (Combined),NaN,Grad PLUS,NaN,Parent PLUS,NaN,Perkins,NaN,Consolidation,NaN
5,Federal Fiscal Year,NaN,Dollars Outstanding (in billions),Recipients (in millions),Dollars Outstanding (in billions),Recipients (in millions),Dollars Outstanding (in billions),Unique Recipients (in millions),Dollars Outstanding (in billions),Recipients (in millions),Dollars Outstanding (in billions),Recipients (in millions),Dollars Outstanding (in billions),Recipients (in millions),Dollars Outstanding (in billions),Recipients (in millions)
6,2014,Q2,255.3,28.2,350.7,25.5,606,30.7,37.8,0.9,62.2,3.1,8.3,3,373.6,11.8
7,2014,Q3,254.1,28,355.1,25.5,609.2,30.5,38.6,0.9,61.9,3.1,8.2,2.9,378.8,11.8
8,2014,Q4,258.8,28.7,370.8,26.3,629.7,31.4,41.2,1,65.1,3.2,8.2,2.9,385.8,11.8
9,2015,Q1,258,28.9,373,26.6,630.9,31.7,40.9,1,65.1,3.2,8.2,3,394.9,11.9
10,2015,Q2,262.9,28.8,388.4,26.5,651.3,31.5,43.4,1,68.7,3.2,8.3,2.9,402.8,11.9
11,2015,Q3,260.7,28.5,390.8,26.4,651.6,31.3,44.1,1,68,3.1,8.2,2.9,410.3,11.9
12,2015,Q4,264.8,29.1,404.9,27.1,669.7,32.1,46.8,1,71.1,3.3,8.1,2.8,416.7,11.9
13,2016,Q1,264.1,29.3,406.6,27.3,670.7,32.2,46.6,1,71.1,3.4,8.1,2.9,423.6,12
14,2016,Q2,269,29.2,421.8,27.3,690.8,32.1,49.4,1,75.2,3.3,8.2,2.8,431.2,12
15,2016,Q3,266.7,28.9,423.5,27.1,690.3,31.9,50.2,1,74.5,3.3,8,2.7,439.2,12
16,2016,Q4,270.1,29.5,436.1,27.8,706.2,32.6,53,1.1,77.8,3.5,7.9,2.7,447.3,12
17,2017,Q1,268.8,29.6,436.5,28,705.3,32.8,52.8,1.1,77.5,3.5,7.9,2.7,456.2,12
18,2017,Q2,272.5,29.4,449.6,27.9,722.2,32.6,55.7,1.1,81.5,3.4,7.9,2.6,464.5,12
19,2017,Q3,269.9,29,450.3,27.6,720.2,32.2,56.6,1.1,80.5,3.4,7.8,2.6,472.3,12
20,2017,Q4,273.1,29.5,462.4,28.3,735.5,32.9,59.7,1.2,83.9,3.5,7.6,2.5,480.3,12
21,2018,Q1,272.2,29.6,463.3,28.4,735.5,33,59.6,1.2,83.7,3.5,7.6,2.5,489,12
22,2018,Q2,276.4,29.5,476.6,28.3,753,32.9,62.8,1.2,87.7,3.5,7.6,2.5,495.9,11.9
23,2018,Q3,274.2,29.1,477.8,28,752.1,32.5,63.9,1.2,86.7,3.4,7.4,2.4,501.9,11.9
24,2018,Q4,277.5,29.6,489.6,28.7,767.1,33.1,67,1.3,89.9,3.6,7.1,2.3,508,11.9
25,2019,Q1,276.8,29.7,490.9,28.8,767.7,33.3,71.3,1.5,89.8,3.6,6.9,2.2,515.6,11.8
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1Totals may differ across portfolio reports du...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2 Data is run at the end of the corresponding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,3 Recipient is the student that benefits from ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,4 Recipient counts are based at the loan leve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(loan_status_df.iloc[5])

Portfolio by Loan Type                             Federal Fiscal Year
Unnamed: 1                                                         NaN
Unnamed: 2                 Dollars Outstanding           (in billions)
Unnamed: 3                                Recipients     (in millions)
Unnamed: 4                Dollars Outstanding            (in billions)
Unnamed: 5                                Recipients     (in millions)
Unnamed: 6                 Dollars Outstanding           (in billions)
Unnamed: 7                         Unique Recipients     (in millions)
Unnamed: 8                Dollars Outstanding            (in billions)
Unnamed: 9                                Recipients     (in millions)
Unnamed: 10                Dollars Outstanding           (in billions)
Unnamed: 11                               Recipients     (in millions)
Unnamed: 12               Dollars Outstanding            (in billions)
Unnamed: 13                               Recipients     (in millions)
Unnamed: 14                Dollars Outstanding           (in billions)
Unnamed: 15                               Recipients     (in millions)
Name: 5, dtype: object