In [1]:
import pandas as pd

In [2]:
portfolio_summ =  pd.read_excel('Data/PortfolioSummary.xls')

In [3]:
portfolio_summ.columns

Index(['Federal Student Aid Portfolio Summary', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [4]:
new_header = ["Year","Quarter",'Direct Loans','DL Recipients',
'FFEL','FFEl Recipients',
'Perkins','Perkins Recipients',
'Total loans','Total Recipients']

In [5]:
portfolio_summ = portfolio_summ[5:]
portfolio_summ.columns = new_header
portfolio_summ

,Year,Quarter,Direct Loans,DL Recipients,FFEL,FFEl Recipients,Perkins,Perkins Recipients,Total loans,Total Recipients
5,2007,NaN,106.8,7,401.9,22.6,8.2,2.8,516,28.3
6,2008,NaN,122.5,7.7,446.5,23.7,8.5,2.9,577,29.9
7,2009,NaN,154.9,9.2,493.3,25,8.7,3,657,32.1
8,2010,NaN,224.5,14.4,516.7,25.1,8.4,2.9,749.8,34.3
9,2011,NaN,350.1,19.4,489.8,23.8,8.3,2.9,848.2,36.5
10,2012,NaN,488.3,22.8,451.7,22.4,8.2,2.9,948.2,38.3
11,2013,Q4,609.1,25.6,423,20.9,8.1,2.9,1040.2,39.6
12,2014,Q4,726.6,27.9,395,19.4,8.2,2.9,1129.8,40.7
13,2015,Q4,840.7,29.9,363.6,17.9,8.1,2.8,1212.4,41.6
14,2016,Q4,949.1,31.5,335.2,16.4,7.9,2.7,1292.2,42.3
15,2017,Q4,1053.5,33,305.8,14.9,7.6,2.5,1366.9,42.6
16,2018,Q4,1150.3,34.2,281.8,13.5,7.1,2.3,1439.2,42.9
17,2019,Q1,1163.3,34.5,277,13.1,6.9,2.2,1447.1,43
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1 Totals may not equal the sum of Direct Loans...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2 Data is run at the end of the corresponding ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3 Recipient is the student that benefits from ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
portfolio_summ = portfolio_summ[:-5]

In [7]:
portfolio_summ = portfolio_summ.fillna(method='ffill')

In [8]:
portfolio_summ = portfolio_summ.drop(columns=['Quarter'])

In [12]:
yearly_portfolio_summ = portfolio_summ.reset_index(drop=True)
yearly_portfolio_summ

,Year,Direct Loans,DL Recipients,FFEL,FFEl Recipients,Perkins,Perkins Recipients,Total loans,Total Recipients
0,2007,106.8,7.0,401.9,22.6,8.2,2.8,516.0,28.3
1,2008,122.5,7.7,446.5,23.7,8.5,2.9,577.0,29.9
2,2009,154.9,9.2,493.3,25.0,8.7,3.0,657.0,32.1
3,2010,224.5,14.4,516.7,25.1,8.4,2.9,749.8,34.3
4,2011,350.1,19.4,489.8,23.8,8.3,2.9,848.2,36.5
5,2012,488.3,22.8,451.7,22.4,8.2,2.9,948.2,38.3
6,2013,609.1,25.6,423.0,20.9,8.1,2.9,1040.2,39.6
7,2014,726.6,27.9,395.0,19.4,8.2,2.9,1129.8,40.7
8,2015,840.7,29.9,363.6,17.9,8.1,2.8,1212.4,41.6
9,2016,949.1,31.5,335.2,16.4,7.9,2.7,1292.2,42.3
10,2017,1053.5,33.0,305.8,14.9,7.6,2.5,1366.9,42.6
11,2018,1150.3,34.2,281.8,13.5,7.1,2.3,1439.2,42.9
12,2019,1163.3,34.5,277.0,13.1,6.9,2.2,1447.1,43.0

In [13]:
# yearly_portfolio_summ = portfolio_summ.groupby(['Year']).sum()
# yearly_portfolio_summ

In [14]:
yearly_portfolio_summ.dtypes

Year                    int64
Direct Loans          float64
DL Recipients         float64
FFEL                  float64
FFEl Recipients       float64
Perkins               float64
Perkins Recipients    float64
Total loans           float64
Total Recipients      float64
dtype: object

In [15]:
yearly_portfolio_summ.to_csv('clean_data/yearly_portfolio_summary.csv', index=True)